@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.userInput{
  font-family: 'ZCOOL KuaiLe', cursive;
  text-align: center
}
